# Composer
/vendor/
composer.lock

# Node
/node_modules/
package-lock.json

# WordPress
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build artifacts
/build/
/dist/
